

/* Button login */
.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;

  }
  
  .form-btn:active {
    box-shadow: none;
  }

  .icons{
    width: 25px;
  }

  .button_return{
    margin-top: 20px;
    margin-bottom: 20px;
  }